## W.4 Wrangle Provider_ID

Observation:
    There are 1,204 unique provider codes with various legacy naming conventions.  
    
Goal:
    Assign new random numbers to each provider

### Table of Contents

1. <a href="#1.-Libraries-&-Environment">Libraries & Environment</a>
2. <a href="#2.-Settings">Settings</a>
3. <a href="#3.-Data-Source">Data Source</a>
4. <a href="#4.-Split-Prov_ID">Split Prov_ID</a>
5. <a href="#5.-Create-DataFrame-for-Prov_ID">Create DataFrame for Prov_ID</a>
6. <a href="#6.-Assign-New-ID-to-Prov_ID">Assign New ID to Prov_ID</a>
7. <a href="#7.-Create-Dictionary-and-Replace-Prov_ID">Create Dictionary and Replace Prov_ID</a>
8. <a href="#8.-Quality-Control">Quality Control</a>

### 1. Libraries & Environment

In [2]:
import numpy as np
import pandas as pd

[<a href='#Table-of-Contents'>Table of Contents</a>]

### 2. Settings

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.options.display.width

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

pd.options.display.float_format = '{:,.0f}'.format

import winsound
duration = 1300
freq = 440

[<a href='#Table-of-Contents'>Table of Contents</a>]

### 3. Data Source

In [4]:
df = pd.read_pickle('DataFiles/AnnualpickleMar16')

winsound.Beep(freq,duration)

[<a href='#Table-of-Contents'>Table of Contents</a>]


### 4. Split Prov_ID

In [6]:
# Split Prov_ID string and retain numeric characters

df.Prov_ID.dtype
df.Prov_ID = df.Prov_ID.str.split('.').str.get(0)

dtype('O')

[<a href='#Table-of-Contents'>Table of Contents</a>]


### 5. Create DataFrame for Prov_ID

In [ ]:
# PURPOSE: Find unique ID and save to DataFrame

df_ProvID = pd.DataFrame(df.Prov_ID.unique(), columns=['OLD'])

[<a href='#Table-of-Contents'>Table of Contents</a>]

### 6. Assign New ID to Prov_ID

$\color{red}{\text{CAUTION: DO NOT RUN RANDOM NUMBER FUNCTION!  Will reassign new IDs}}$.

'''

- import random
- min = 10000
- max = 999999


  df_ProvID['NEW'] = [str(random.randint(min,max)) for i in range(len(df_ProvID))] # Get random number in range
  df_ProvID['NEW'] = [(len(str(max))-len(digit))*'0'+digit for digit in df_ProvID['NEW']] # Fill in with 0's

'''

In [9]:
# PURPOSE: Assign new ID in new DataFrame using Random Number function.  See Code in Markdown cell above.

df_ProvID.sort_values('NEW')
df_ProvID.duplicaf_ProvID

[<a href='#Table-of-Contents'>Table of Contents</a>]

### 7. Create Dictionary and Replace Prov_ID

In [ ]:
# PURPOSE: Create Dictionary and replace IDs developed in Step #6

dict_ProvID = df_ProvID.set_index('OLD').to_dict()['NEW']

df.replace({'Prov_ID':dict_ProvID}, inplace = True)
df.Prov_ID.nunique()
df.Prov_ID.sort_values()

[<a href='#Table-of-Contents'>Table of Contents</a>]

### 8. Quality Control

In [6]:
# PURPOSE: Print output of Prov_ID statistics

qc_Prov_ID = df.filter(['Prov_ID'])
qc_Prov_ID.min()

qc_Prov_ID.max()

qc_Prov_ID

Prov_ID    011117
dtype: object

Prov_ID    999590
dtype: object

            Prov_ID
Index_Claim
1            625296
2            625296
3            625296
4            625296
5            625296
...             ...
295433       625296
295434       625296
295435       625296
295436       625296
295437       861170

[295437 rows x 1 columns]

[<a href='#Table-of-Contents'>Table of Contents</a>]

In [132]:

df.to_pickle('DataFiles/AnnualpickleMar16')
winsound.Beep(freq,duration)